.center-search {
    display: flex;

    width: 55%;
}

#search-container {
    display: flex;
    justify-content: center;
    background-color: #02b8a5;
}

#api-container {
    /* display: flex;
    justify-content: space-around; */
    margin-top: 50px;
}


h1 {
    margin: 0;
}

.api-rows {
    position: relative;
}

#fav-star {
    position: absolute;
    top: 3%;
    left: 3%;
}
